.dashboard {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  
    font-family: 'Roboto', sans-serif;
  
  
}

.dashboard h1 {
  text-align: center;
  color: #444;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
}

@media (max-width: 768px) {
  .filter {
    flex-direction: column;
  }

  .filter select,
  .filter input {
    width: 100%;
    margin-bottom: 10px;
  }
}
